.btn-upload {
  border-radius: 100px;
  margin-bottom: 200px;
}

.upload-text {
  height: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fefefe;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.selected {
  background-color: #CFD8DC !important;
  color: white;
}
.heroes {
  list-style-type: none;
}
.heroes li {
  margin-top: 10px;
  width: 650px;
  height: 62px;

}

.bg2 {
  position: absolute;
  z-index: -1;

  opacity: 0.08;
  border: solid 1px #ffffff;
  background-color: #ffffff;
  width: 650px;
  height: 62px;
}

.heroes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.heroes li:hover {
  color: #607D8B;
  background-color: rgb(66, 79, 121);
  left: .1em;
}
.heroes .text {
  position: relative;
  top: -3px;
}
.heroes .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: .8em;
  border-radius: 4px 0 0 4px;
}

.file-container {
  display: flex;
  width: 650px;
  height: 62px;
  align-items: center;
}
.file-container__icon {
  width: 32px;
  height: 26px;
  margin: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.file-container__name {
  width: 542px;
  font-family: OpenSans;
  font-size: 18px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.download-img {
  cursor: pointer;
}

.file-container__download {
  margin-right: 20px;
}
