.btn-upload {
  border-radius: 100px;
}

.upload-text {
  height: 70px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #fefefe;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
